<ul id="controlbar-about" class="nav">
    <li><a href="/doc/licensing" data-target="#license-modal" id="show-licenses" data-toggle="modal">License information</a></li>
    <li><a href="/doc/architecture" data-target="#architecture-modal" id="show-architecture" data-toggle="modal">System architecture</a></li>
    <li><a href="/doc/history" data-target="#history-modal" id="show-history" data-toggle="modal">Version history</a></li>
</ul>
