<div id="visualization-container">
    <div id="nodekey" class="visualization-key">
        <legend>{{#tr 'label.key'}}Key{{/tr}}</legend>
        <ul></ul>
    </div>
    <div id="visualization"></div>
    <div id="edgekey" class="visualization-key">
        <legend>&nbsp;</legend>
        <ul></ul>
    </div>
</div>
<ul id="controlbar-results" class="nav">
    <!--<li class="dropdown"><a href="#" id="dropdown-download-results" data-toggle="dropdown" class="dropdown-toggle">Download<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a target="_blank" href="{{url}}/snippets" id="download-citations-html">Citations (HTML)</a></li>
            <li><a target="_blank" href="{{url}}" id="download-full-html">Full list (HTML)</a></li>
        </ul>
    </li>
    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Add page<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="hide-on-bookmarks"><a href="{{url}}/bookmarkpage">To bookmarks</a></li>
        </ul>
    </li>
    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Add results<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="hide-on-bookmarks"><a href="{{url}}/bookmarkall">To bookmarks</a></li>
        </ul>
    </li>-->
    <li><a href="#" id="visualize-landmarks">{{#tr 'action.visualizelandmarks'}}Visualize landmarks{{/tr}}</a></li>
    <li><a href="#" id="visualize-search">{{#tr 'action.visualizesearch'}}Visualize search{{/tr}}</a></li>
</ul>
