<nav class="controlbar navbar navbar-fixed-top">
    <div id="controlbar" class="controlbar-inner navbar-inner">
        <div class="container-fluid">
            <ul class="nav">
                <li><a href="/doc/licensing" data-target="#license-modal" id="show-licenses" data-toggle="modal">{{#tr 'label.licenseinfo'}}License information{{/tr}}</a></li>
                <li><a href="/doc/architecture" data-target="#architecture-modal" id="show-architecture" data-toggle="modal">{{#tr 'label.systemarchitecture'}}System architecture{{/tr}}</a></li>
                <li><a href="/doc/history" data-target="#history-modal" id="show-history" data-toggle="modal">{{#tr 'label.versionhistory'}}Version history{{/tr}}</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="content" class="container-fluid">
    <div class="row-fluid">
        <div class="span8 offset2">
            <h2>Biblionarrator</h2>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10 pull-right">
            <div class="row-fluid">
                <div class="span6">
                    <div>
                        <p>{{#tr 'help:about.assumptions'}}Biblionarrator turns traditional
                        assumptions about cataloging on their heads and makes catalogs (and
                        cataloging) fun again. This catalog has been designed for bibliophile and
                        bibliographer alike and offers unprecedented flexibility and power in that
                        most important of all tasks, bibliographic description.{{/tr}}</p>
                        <p>
                    </div>
                    <div class="figure about-figure">
                        <img src="/img/death_of_a_king.jpg" title="Illuminated initial"/>
                        <p>{{#tr 'help:caption.kinghenry'}}Thirteenth century illuminated initial of
                        King Henry II on his deathbed from the Black Book of the Exchequer. Image
                        courtesy of the
                        <a href="http://www.flickr.com/photos/nationalarchives/3009780609/">National Archives</a>.{{/tr}}
                        </p>
                    </div>
                </div>
                <div class="span4">
                    <div>
                        <h4>{{#tr 'help:about.whatitisnot'}}What Biblionarrator is not:{{/tr}}</h4>
                        <dl>
                            <dt>{{#tr 'help:label.wordprocessor'}}A word processor{{/tr}}</dt>
                            <dd>{{#tr 'help:about.wordprocessor'}}Unlike a word processor,
                            data you enter into Biblionarrator has meaning. A title
                            is a title, and the computer knows it.{{/tr}}</dd>
                            <dt>{{#tr 'help:label.traddatabase'}}A traditional database{{/tr}}</dt>
                            <dd>{{#tr 'help:about.traddatabase'}}Unlike a traditional
                            database, Biblionarrator does not make any demands on how
                            you approach your data. You can enter information in any
                            order and any format.{{/tr}}</dd>
                            <dt>{{#tr 'help:label.ils'}}An Integrated Library System{{/tr}}</dt>
                            <dd>{{#tr 'help:about.ils'}}Unlike a traditional
                            ILS, Biblionarrator is designed around the needs of catalog
                            users and provides a cataloging interface designed for
                            bibliographers and catalogers rather than technologists.{{/tr}}
                        </dl>
                    </div>
                    <div>
                        <h4>{{#tr 'help:about.whatitis'}}What Biblionarrator is:{{/tr}}</h4>
                        <dl>
                            <dt>{{#tr 'help:label.powerfulopac'}}A powerful online catalog{{/tr}}</dt>
                            <dd>{{#tr 'help:about.powerfulopac'}}Biblionarrator
                            provides all the search capabilities of the most advanced
                            database or Integrated Library System.{{/tr}}</dd>
                            <dt>{{#tr 'help:label.forpaper'}}Designed for paper{{/tr}}</dt>
                            <dd>{{#tr 'help:about.forpaper'}}Biblionarrator gives you a
                            leg up on preparing printed catalogs by providing built in
                            list export functionality.{{/tr}}</dd>
                            <dt>{{#tr 'help:label.standards'}}Standard-compliant{{/tr}}</dt>
                            <dd>{{#tr 'help:about.standards'}}Biblionarrator is built on
                            the HTML5 standard and &#8220;semantic web&#8221; technologies to make
                            your catalog records accessible to everyone, even Google.{{/tr}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="span2 pull-left">
        </div>
    </div>
</div>

{{#contentFor 'modals'}}
    <div id="license-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="license-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="license-label">{{#tr 'label.bnlicense'}}Biblionarrator license{{/tr}}</h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">{{#tr 'label.close'}}Close{{/tr}}</button>
        </div>
    </div>

    <div id="architecture-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="architecture-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="architecture-label">{{#tr 'label.bnarchitecture'}}Biblionarrator architecture{{/tr}}</h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">{{#tr 'label.close'}}Close{{/tr}}</button>
        </div>
    </div>

    <div id="history-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="history-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="history-label">{{#tr 'label.bnversionhistory'}}Biblionarrator version history{{/tr}}</h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">{{#tr 'label.close'}}Close{{/tr}}</button>
        </div>
    </div>
{{/contentFor}}

{{#contentFor 'javascript'}}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#documentation-modal').on('hidden', function () {
                $('#documentation-modal .modal-body').text([]);
            });
        });
    </script>
{{/contentFor}}
