<div id="content" class="container-fluid">
    <div class="row-fluid">
        <div class="span10 pull-right">
            <h2>{{#tr 'help:help.specialheading'}}What makes Biblionarrator special{{/tr}}</h2>
            <div class="row-fluid">
                <div class="span6">
                    <p>{{#tr 'help:help.specialsearch'}}As one might expect, Biblionarrator offers powerful <a href="/search">Search</a>
                    features via the link and Quick search box in the menu bar at the top of the screen.
                    Unlike with other catalogue systems, however, once you do a search Biblionarrator
                    will offer you powerful tools to understand your results and identify the material
                    you need.{{/tr}}
                    </p>
                    <h3>{{#tr 'label.knowledgetrails'}}Knowledge trails{{/tr}}</h3>
                    <p>{{#tr 'help:help.knowledgetrails'}}When you are trying to dig deeper into a subject, you can use Biblionarrator to
                    follow the &#8220;knowledge trail&#8221; to related books, people, articles, and
                    subjects by clicking the <i class="explore-icon"></i> icon.{{/tr}}
                    </p>
                    <h3>{{#tr 'label.landmarks'}}Landmarks{{/tr}}</h3>
                    <p>{{#tr 'help:help.landmarks'}}If, in the course of your research, you find books or articles that meet your
                    needs, Biblionarrator offers you the ability to mark them as &#8220;landmarks&#8221;,
                    so that the system can search for related records for you. You can mark a record as a
                    landmark by clicking the <i class="landmark-icon"></i> icon.{{/tr}}
                    </p>
                </div>
                <div class="span6">
                    <h3>{{#tr 'label.visualizations'}}Visualizations{{/tr}}</h3>
                    <p>{{#tr 'help:help.visualizationsurprise'}}Biblionarrator's most surprising feature,
                    though, is surely its visualizations.{{/tr}}
                    {{#tr 'help:help.visualizesearch'}}Using the &#8220;Visualize search&#8221; button in
                    the control bar at the bottom of any results page, you can easily visualize the
                    part of the collection that is most
                    relevant to your query.{{/tr}}
                    </p>
                    <p>{{#tr 'help:help.visualizelandmarks'}}If you have identified some landmarks in
                    your searching, clicking the &#8220;Visualize landmarks&#8221; button will show
                    you not just the landmarks but also a map of the records most relevant to your
                    landmarks.{{/tr}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
