<div id="content" class="container-fluid">
    <div class="row-fluid">
        <div class="span10 pull-right">
            <div class="row-fluid">
                <div class="span6">
                    <h2>Welcome to Biblionarrator</h2>
                    <p>Your library has adopted Biblionarrator, a revolutionary new type of
                    catalogue that enables new methods of discovery and understanding your
                    library's collection.</p>
                    <p><a href="/help" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
                </div>
                <div class="span6">
                    <h4>Common tasks</h4>
                    <ul class="home-links">
                        {{#unless user}}
                        <li><a href="/auth/login">Log in</a></li>
                        {{/unless}}
                        <li><a href="/search">Search catalogue</a></li>
                        {{#if user.permission.edit_record}}
                        <li><a href="/record/new">Create new record</a></li>
                        {{/if}}
                        {{#if user.permission.edit_admin}}
                        <li><a href="/admin">Administer system</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
        
        <!--<div class="span2 pull-left">
            <div class="instructions">
                <span class="instruction-label">Hint:</span>
                Almost everything you need to do can be done from the toolbars:
                <ul>
                    <li>The &#8220;New&#8221; button creates a new record, either a blank record
                        or from a template</li>
                    <li>The &#8220;Search&#8221; button brings you to the search page (or you can
                        just do a Quick search directly from the toolbar)</li>
                    <li><i class="icon-bookmark"></i> gives you access to your bookmarks</li>
                    <li><i class="icon-user"></i> is home base for your user (or will let you log in)</li>
                    <li><i class="icon-wrench"></i> lets you administer the system</li>
                </ul>
                You can disable these hints from the <i class="icon-question-sign"></i> menu.
            </div>
        </div>-->
    </div>
</div>
