<div id="content" class="container-fluid">
    <div class="row-fluid">
        <div class="span10 pull-right">
            <div class="row-fluid">
                <div class="span6">
                    <h2>Sign in</h2>
                    {{#if error}}
                    <div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">×</button>{{error}}</div>
                    {{/if}}
                    <form action="/auth/browserid" method="post" style="display:none;">
                        <input type="text" name="assertion"/>
                    </form>
                    <form action="/auth/login" method="post">
                        <div class="control-group">
                            <input type="text" id="login-username" name="username" placeholder="User name"></input>
                        </div>
                        <div class="control-group">
                            <input type="password" id="login-password" name="password" placeholder="Password"></input>
                        </div>
                        <input type="hidden" name="redirect" value="{{redirect}}"></input>
                        <button class="btn btn-small btn-primary" type="submit">Sign in with password</button>
                        <img src="https://developer.mozilla.org/files/3969/plain_sign_in_blue.png" id="browserid"/>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{{#contentFor 'javascript'}}
<script>
    $("#browserid").click(function(){
        navigator.id.get(function(assertion) {
            if (assertion) {
                $("input").val(assertion);
                $("form").submit();
            } else {
                location.reload();
            }
        });
    });
</script>
{{/contentFor}}
