@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
}

.resultcount {
    text-align: right;
}

.header-shown {
    font-size: 90%;
    font-weight: normal;
    margin-bottom: 8px;
}

.recordtypes a {
    text-decoration: none;
    color: #444;
    margin-left: 1em;
}

.recordtypes a:hover {
    text-decoration: underline;
}

.recordtypes a i {
    opacity: 0.5;
}

.recordtypes a.selected {
    color: #000;
}

.header-hidden {
    display: none;
}

.button-box {
    border-radius: 15px;
}

.button-box > input {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
    border-right: 0px;
    padding: 4px 14px;
}

.button-box > button {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 30px;
}

.link-results {
    margin-top: 20px;
}

.editor-toolbar {
    display: none;
}

.record-view-link {
    color: #000;
}

.navbar .nav > li > a.caret-before {
    padding-right: 2px;
}

.navbar .nav > li > a.caret-after {
    padding-left: 2px;
}

* {
    font-family: "Georgia", "Palatino Linotype", "Book Antiqua", "Palatino", serif;
}

#fieldGeneral label, #fieldGeneral input {
    font-size: 85%;
}

#fieldGeneral input {
    width: 120px;
}

a.selected {
    font-weight: bold;
}

#add-section {
    font-size: smaller;
}

#recordContainer header, #recordContainer section {
    margin: 0.5em 0em;
    min-height: 18pt;
}

.linkrecordview a {
    text-decoration: none;
}

.linkrecordview header {
    display: inline;
}

.linkrecordview, .linkdescription {
    margin-bottom: 8px;
}

.resultRow .btn-link {
    color: #777;
}


.resultRow .btn-link:hover {
    color: #333;
    text-decoration: none;
}

.recordPreviewArea {
    display: none;
}

.hide-preview[disabled] {
    opacity: 0;
}

td.recordPane button {
    display: block;
}

#bookmark-dropdown {
    display: none;
}

#bookmark-count {
    position: relative;
    line-height: 0;
    vertical-align: baseline;
    bottom: -0.5em;
}

td.recordPane button.preview {
    display: none;
}

#previewAffix {
    margin-right: 20px;
    display: none;
    position: absolute;
}

#previewAffix.affix {
    top: 90px;
}

#navbarLogin input[type="text"], #navbarLogin input[type="password"] {
    width: 140px;
    margin: 4px 8px;
    font-size: 80%;
}

#navbarLogin button {
    float: right;
    margin: 4px 8px;
}

#toc-header {
    padding: 3px 7px;
    font-size: 12pt;
    font-weight: bold;
    color: #555;
}

#table-of-contents {
    display: none;
    padding-top: 18px;
    position: relative;
    margin: 15px 0;
    padding: 2px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffee;
}

#fieldsTOC {
    width: 90%;
}


.dropdown-menu > li > span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #888888;
    white-space: nowrap;
}

.toclabel {
    font-variant: small-caps;
}

#fieldsTOC .tocvalue {
}

.highlight {
    padding: 0 2px 0 1px;
    background-color: #e7f4f9;
    border: 1px solid #d8f0fa;
}

#fieldsTOC.jstree a {
    white-space:normal !important;
    height: auto;
} 

.jstree-default li > ins {
    vertical-align: top;
}


footer {
    color: #929292;
    font-size: 0.8em;
    padding: 1em 10px 0 0;
    text-align: right;
    scroll: 10px 5px #FFFFFF;
    border-top: 1px solid #F5F5F5;
    clear: both;
    margin: 2em auto 0;
}

#alerts {
    padding-top: 16px;
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#alerts:empty {
    display:none;
}

#alerts::after {
    content: "System messages";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.mce_bn_newdocument {
    background: url('../images/icons/page_add.png') 2px 2px no-repeat !important;
}

.mce_bn_reload {
    background: url('../images/icons/page_refresh.png') 2px 2px no-repeat !important;
}

.mce_bn_save {
    background: url('../images/icons/page_save.png') 2px 2px no-repeat !important;
}

.mce_bn_tag {
    background: url('../images/icons/tag_blue_add.png') 2px 2px no-repeat !important;
}

.mce_bn_closetag {
    background: url('../images/icons/tag_blue_delete.png') 2px 2px no-repeat !important;
}

.mce_bold {
    background: url('../images/icons/text_bold.png') 2px 2px no-repeat !important;
}

.mce_italic {
    background: url('../images/icons/text_italic.png') 2px 2px no-repeat !important;
}

.mce_underline {
    background: url('../images/icons/text_underline.png') 2px 2px no-repeat !important;
}

.mce_bullist {
    background: url('../images/icons/text_list_bullets.png') 2px 2px no-repeat !important;
}

.mce_numlist {
    background: url('../images/icons/text_list_numbers.png') 2px 2px no-repeat !important;
}

.mce_sub {
    background: url('../images/icons/text_subscript.png') 2px 4px no-repeat !important;
}

.mce_sup {
    background: url('../images/icons/text_superscript.png') 2px 0px no-repeat !important;
}

.mce_strikethrough {
    background: url('../images/icons/text_strikethrough.png') 2px 2px no-repeat !important;
}

.mce_justify_left {
    background: url('../images/icons/text_align_left.png') 2px 2px no-repeat !important;
}

.mce_outdent {
    background: url('../images/icons/text_indent_remove.png') 2px 2px no-repeat !important;
}

.mce_indent {
    background: url('../images/icons/text_indent.png') 2px 2px no-repeat !important;
}

.mce_justify_center {
    background: url('../images/icons/text_align_center.png') 2px 2px no-repeat !important;
}

.mce_justify_right {
    background: url('../images/icons/text_align_right.png') 2px 2px no-repeat !important;
}

.mce_image {
    background: url('../images/icons/image_add.png') 2px 2px no-repeat !important;
}

.mce_link {
    background: url('../images/icons/link.png') 2px 2px no-repeat !important;
}

.mce_unlink {
    background: url('../images/icons/link_break.png') 2px 2px no-repeat !important;
}

.mce_hr {
    background: url('../images/icons/text_horizontalrule.png') 2px 2px no-repeat !important;
}

.mce_charmap {
    background: url('../images/icons/text_letter_omega.png') 2px 2px no-repeat !important;
}

input[type="text"].styleRecordTypes {
    font-size: 10pt;
    height: 12px;
    margin-top: 10px;
}

textArea.styleEntry {
    width: auto;
}

select[name="fields_length"] {
    width: auto;
}
