@media (min-width: 980px) {
    html, body {
        height: 100%;
    }

    #content {
        position: relative;
        min-height: 100%;
        height: auto !important;
        margin-bottom: -50px; /* the bottom margin is the negative value of the footer's height */
    }

    #content:before {
        height: 80px;  /* the value of the header's height */
        zoom: 1;
    }

    #content:after {
        height: 40px;
    }

    footer {
        height: 40px;
        position: relative;
        margin: 0;
        text-align: right;
    }

    footer p.copyright {
        clear: none;
    }

    footer:before {
        content: "";
        visibility: hidden;
        display: table;
        height: 0;
        clear: both;
    }
}

@media (max-width: 480px) {
    .navbar-controls {
        clear: left;
    }
}

.select-menu > .selected {
    display: none;
}

.button-dropdown > a {
    text-decoration: none;
    padding: 2px 10px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 4px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

.button-dropdown.white > a {
    filter: none;
    background-color: #ffffff;
    background-image: none;
}

.button-dropdown .dropdown-menu {
    margin-top: 4px;
}

.breadcrumb {
    text-align: left;
    float: left;
    padding: 2px 8px;
    background-color: #fff;
}

.dropdown-menu > li > label {
    margin-left: 20px;
}

.show-help .instructions {
    display: block;
}

.instructions {
    display: none;
}

.hidehelp .instructions {
    display: none;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0px !important;
}

.instruction-label {
    font-weight: bold;
}

.instructions {
    border: 1px solid #d4d4d4;
    margin: 20px 4px;
    padding: 4px;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    font-size: smaller;
}

.home-links li {
    border: 1px solid #d4d4d4;
    float: left;
    margin: 10px 40px 10px 2px;
    list-style: none;
    padding: 8px;
    min-width: 20em;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.home-links li a {
    font-variant: small-caps;
}

#controlbar {
    min-height: 30px;
}

#controlbar .nav > li > a {
    padding: 5px 10px;
}

#controlbar .divider-vertical {
    height: 30px;
}

.resultRow .result-content {
    width: 100%;
}

.navbar.navbar-fixed-bottom.hidden-desktop .nav {
    width: 100%;
}

.navbar.navbar-fixed-bottom.hidden-desktop .nav > li {
    float: none;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.navbar-fixed-bottom .bookmark-count:not(:empty):before {
    content: "(";
}

.navbar-fixed-bottom .bookmark-count:not(:empty):after {
    content: ")";
}

.search-button {
    position: relative;
    left: -28px;
    background: transparent;
    border: none;
    top: -1.75px;
    height: 20px;
    opacity: 0.5;
}

.search-button:hover {
    opacity: 1;
}

.row-fluid .pull-left[class*="span"]:last-child { margin-left: 0; }

@media (max-width: 767px) {
    .row-fluid .pull-right[class*="span"] { float: none; }
}

article header[contenteditable="true"]:empty:after {
    content: "Citation";
    color: #ccc;
}

article section[contenteditable="true"]:empty:after {
    content: "Expansion";
    color: #ccc;
}

.add-section {
    display: none;
}

.breadcrumb-divider {
    margin-top: 0;
    margin-bottom: 20px;
    border-top: 6px solid #eee;
}

#sortings {
    font-size: 90%;
}

.sort-label {
    font-weight: bold;
}

#sortings select, .result-size select {
    width: auto;
    height: auto;
    margin-top: 6px;
}

.pagination {
    float: left;
    margin-top: 0px;
    font-size: 90%;
}

.result-size {
    float: right;
    font-size: 90%;
}

.result-size select {
    width: auto;
}

#sidebarAffix {
    clear: both;
}

article [contenteditable="true"] {
    border: 1px #eee solid;
    border-radius: 6px;
}

.resultcount {
    text-align: right;
}

.header-shown {
    font-size: 90%;
    font-weight: normal;
    margin-bottom: 8px;
}

.recordtypes a {
    text-decoration: none;
    color: #444;
    margin-left: 1em;
}

.recordtypes a:hover {
    text-decoration: underline;
}

.recordtypes a i {
    opacity: 0.5;
}

.recordtypes a.selected {
    color: #000;
}

.header-hidden {
    display: none;
}

.button-box {
    border-radius: 15px;
}

.button-box > input {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
    border-right: 0px;
    padding: 4px 14px;
}

.button-box > button {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 30px;
}

.link-results {
    margin-top: 20px;
}

.editor-toolbar {
    display: none;
}

.record-view-link {
    color: #000;
}

.record-number-link {
    color: #555;
    font-size: smaller;
}

.table td.result-number {
    padding-top: 6px;
}

.navbar .nav > li > a.caret-before, #controlbar .nav > li > a.caret-before {
    padding-right: 2px;
}

.navbar .nav > li > a.caret-after, #controlbar .nav > li > a.caret-after {
    padding-left: 2px;
}

* {
    font-family: "Georgia", "Palatino Linotype", "Book Antiqua", "Palatino", serif;
}

#fieldGeneral label, #fieldGeneral input {
    font-size: 85%;
}

#fieldGeneral input {
    width: 120px;
}

a.selected {
    font-weight: bold;
}

#add-section {
    font-size: smaller;
}

#recordContainer header, #recordContainer section {
    margin: 0.5em 0em;
    min-height: 18pt;
}

.linkrecordview a {
    text-decoration: none;
}

.linkrecordview header {
    display: inline;
}

.linkrecordview, .linkdescription {
    margin-bottom: 8px;
}

.resultRow .btn-link {
    color: #777;
}


.resultRow .btn-link:hover {
    color: #333;
    text-decoration: none;
}

.recordPreviewArea {
    display: none;
}

.hide-preview[disabled] {
    opacity: 0;
}

td.recordPane button {
    display: block;
}

#bookmark-dropdown {
    display: none;
}

#bookmark-count {
    position: relative;
    line-height: 0;
    vertical-align: baseline;
    bottom: -0.5em;
}

td.recordPane button.preview {
    display: none;
}

#previewAffix {
    margin-right: 20px;
    display: none;
    position: absolute;
}

#previewAffix.affix {
    top: 90px;
}

#navbarLogin input[type="text"], #navbarLogin input[type="password"] {
    width: 140px;
    margin: 4px 8px;
    font-size: 80%;
}

#navbarLogin button {
    float: right;
    margin: 4px 8px;
}

#toc-header {
    padding: 3px 7px;
    font-size: 12pt;
    font-weight: bold;
    color: #555;
}

#table-of-contents {
    display: none;
    padding-top: 18px;
    position: relative;
    margin: 15px 0;
    padding: 2px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffee;
}

#fieldsTOC {
    width: 90%;
}


.dropdown-menu > li > span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #888888;
    white-space: nowrap;
}

.toclabel {
    font-variant: small-caps;
}

#fieldsTOC .tocvalue {
}

.highlight {
    padding: 0 2px 0 1px;
    background-color: #e7f4f9;
    border: 1px solid #d8f0fa;
}

#fieldsTOC.jstree a {
    white-space:normal !important;
    height: auto;
} 

.jstree-default li > ins {
    vertical-align: top;
}


footer {
    color: #929292;
    font-size: 0.8em;
    padding: 8px 10px 0 0;
    scroll: 10px 5px #FFFFFF;
    border-top: 1px solid #F5F5F5;
    clear: both;
}

footer p {
    clear: both;
}

#alerts {
    padding-top: 16px;
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#alerts:empty {
    display:none;
}

#alerts::after {
    content: "System messages";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.mce_bn_newdocument {
    background: url('../images/icons/page_add.png') 2px 2px no-repeat !important;
}

.mce_bn_reload {
    background: url('../images/icons/page_refresh.png') 2px 2px no-repeat !important;
}

.mce_bn_save {
    background: url('../images/icons/page_save.png') 2px 2px no-repeat !important;
}

.mce_bn_tag {
    background: url('../images/icons/tag_blue_add.png') 2px 2px no-repeat !important;
}

.mce_bn_closetag {
    background: url('../images/icons/tag_blue_delete.png') 2px 2px no-repeat !important;
}

.mce_bold {
    background: url('../images/icons/text_bold.png') 2px 2px no-repeat !important;
}

.mce_italic {
    background: url('../images/icons/text_italic.png') 2px 2px no-repeat !important;
}

.mce_underline {
    background: url('../images/icons/text_underline.png') 2px 2px no-repeat !important;
}

.mce_bullist {
    background: url('../images/icons/text_list_bullets.png') 2px 2px no-repeat !important;
}

.mce_numlist {
    background: url('../images/icons/text_list_numbers.png') 2px 2px no-repeat !important;
}

.mce_sub {
    background: url('../images/icons/text_subscript.png') 2px 4px no-repeat !important;
}

.mce_sup {
    background: url('../images/icons/text_superscript.png') 2px 0px no-repeat !important;
}

.mce_strikethrough {
    background: url('../images/icons/text_strikethrough.png') 2px 2px no-repeat !important;
}

.mce_justify_left {
    background: url('../images/icons/text_align_left.png') 2px 2px no-repeat !important;
}

.mce_outdent {
    background: url('../images/icons/text_indent_remove.png') 2px 2px no-repeat !important;
}

.mce_indent {
    background: url('../images/icons/text_indent.png') 2px 2px no-repeat !important;
}

.mce_justify_center {
    background: url('../images/icons/text_align_center.png') 2px 2px no-repeat !important;
}

.mce_justify_right {
    background: url('../images/icons/text_align_right.png') 2px 2px no-repeat !important;
}

.mce_image {
    background: url('../images/icons/image_add.png') 2px 2px no-repeat !important;
}

.mce_link {
    background: url('../images/icons/link.png') 2px 2px no-repeat !important;
}

.mce_unlink {
    background: url('../images/icons/link_break.png') 2px 2px no-repeat !important;
}

.mce_hr {
    background: url('../images/icons/text_horizontalrule.png') 2px 2px no-repeat !important;
}

.mce_charmap {
    background: url('../images/icons/text_letter_omega.png') 2px 2px no-repeat !important;
}

input[type="text"].styleRecordTypes {
    font-size: 10pt;
    height: 12px;
    margin-top: 10px;
}

textArea.styleEntry {
    width: auto;
}

select[name="fields_length"] {
    width: auto;
}
