# NOTE: This configuration pulls data from both node.js, which should be running on port 3000, and from PHP run by fastcgi.
server {
    server_name                             biblionarrator;
    access_log                              /var/log/biblionarrator-access.log;
    error_log                               /var/log/biblionarrator-error.log;
    root                                    /home/biblionarrator/public;

    location / {
        index  index.html index.htm index.php; #try static .html file first
        try_files $uri $uri/ @node;
    }
 
    # catch all
    error_page      404 /index.php?$args;

    location ~ \.php$ {
        include                             fastcgi_params;
        fastcgi_index                       index.php;
        fastcgi_pass                        unix:/var/run/biblionarrator.socket; # or: 127.0.0.1:9000 depending on your php-fpm config
        fastcgi_split_path_info             ^(.+\.php)(/.+)$;
        fastcgi_param PATH_INFO             $fastcgi_path_info;
        fastcgi_param PATH_TRANSLATED       $document_root$fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME       $document_root$fastcgi_script_name;
    }

    location @node {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-NginX-Proxy true;

        proxy_pass http://localhost:3000;
        proxy_redirect off;

    }
}

