[biblionarrator]
user = www-data
group = www-data
listen = /var/run/biblionarrator.socket
listen.owner = www-data
listen.group = www-data
listen.mode = 0666
pm = dynamic
pm.max_children = 20
pm.start_servers = 4
pm.min_spare_servers = 2
pm.max_spare_servers = 10
pm.max_requests = 500
chdir = /
