module.exports = {
    default: 'titan',

    titan: {
        'storage.backend': 'cassandra',
        'storage.hostname': '127.0.0.1',
        'storage.keyspace': 'biblionarrator',

        'storage.index.search.backend': 'elasticsearch',
        'storage.index.search.client-only': true,
        'storage.index.search.hostname': '127.0.0.1'
    },

    orient: {
        path: 'local:/var/lib/orient/biblionarrator',
        username: 'admin',
        password: 'admin'
    },

    tinker: {
    },

    neo4j: {
    }
};
