
module.exports = {
    operators: {
        'AND': '&&',
        'OR': '\\|\\|',
        'FLOAT_START': '\\{\\{',
        'FLOAT_END': '\\}\\}',
        'GS': '\\(',
        'GE': '\\)',
        'REQ': '\\+',
        'DIS': '-',
        'MOD': '#',
        'NOT': '!',
        'FACET_START': '\\[',
        'FACET_END': '\\]',
        'FILTER_START': '(range)<',
        'FILTER_END': '>'
    },
    schemas: [
        'ericthesaurus',
        'eric'
    ]
};
