<div class="recordtypes header-shown">
    {{#query}}
        Your search for <em>{{query}}</em> found:
    {{/query}}
    {{^query}}
        Found:
    {{/query}}
    {{#headfacets}}
        <span class="head-facet_{{code}}"><a class="{{selected}}" href="{{link}}"><i class="icon-leaf"></i> {{count}} {{name}}s</a></span>
    {{/headfacets}}
    <!--@if (Input::has('recordtype'))
        <a href="{{ URL::current() }}?{{ http_build_query(Input::except('recordtype')) }}"><i class="icon-leaf"></i>Show all</a>
    @endif-->
    </div>
    <div class="header-shown resultcount">Showing {{shown}} of {{count}} records.</div>
    <table id="recordList" class="table">
    <thead>
        <tr class="header-hidden"><th>Record</th><th>Actions</th></tr>
    </thead>
    <tbody>
    {{#records}}
        <tr class="resultRow" data-id="{{id}}">
            <td class="list-ordinal">
                <a class="list-ordinal-link" href="/record/{{id}}">{{ordinal}}</a>
            </td>
            <td class="list-content">
                <div itemscope id="recordContainer_{{id}}" class="recordtype_Book recordContainer">
                    <a class="record-view-link" href="/record/{{id}}">{{> list.snippet }}</a>
                    <div class="recordPreviewArea">
                        <div class="recordRemainder"></div>
                    </div>
                </div>
                <div class="list-toolbar">
                    {{> list.toolbar }}
                </div>
            </td>
            <td class="list-pane">
                {{> list.pane }}
            </td>
        </tr>
{{/records}}
{{^records}}
{{/records}}
    </tbody>
    </table>
    {{ $paginator->appends(Input::except('page'))->links(1) }}
    <div class="result-size">Show <span data-toggle="dropdown-select" class="button-dropdown white">
        <select id="perpage" name="perpage">
        <option value="2" {{ $perpage == 2 ? 'selected="selected"' : '' }}>2</option>
        <option value="5" {{ $perpage == 5 ? 'selected="selected"' : '' }}>5</option>
        <option value="10" {{ $perpage == 10 ? 'selected="selected"' : '' }}>10</option>
        <option value="25" {{ $perpage == 25 ? 'selected="selected"' : '' }}>25</option>
        <option value="50" {{ $perpage == 50 ? 'selected="selected"' : '' }}>50</option>
        <option value="100" {{ $perpage == 100 ? 'selected="selected"' : '' }}>100</option>
        </select>
    </span> records</div>
