(function( bndb, $, undefined ) {
    bndb.resources = bndb.resources || {};
    bndb.resources.fields  = {{{fields}}};
    bndb.resources.styles = {{{styles}}};
    bndb.resources.records = {{{records}}};
}( window.bndb = window.bndb || {}, jQuery ));

$(document).ready(function () {
    bndb.populate();
});
